# Settings
set bgcolor #000000
set fgcolor #ffff00
set border-width 3
set border-color #ffff00
set overlay-duration 0.7
set framesels fj ah
# Change prefix key to Ctrl-s
# escape C-s

# Custom bindings (after prefix)
bind b banish
bind y redo
bind L reload
bind semicolon next-screen
bind j exec open -a Raycast

set clicktofocus 1
# Unbind a default
# unbind w

# Startup commands (run on launch)
# split-h

# osascript -e 'tell application "System Events" to get name of every process whose background only is false'
# Slack: Emacs-style navigation
appremap "Slack" C-p up
appremap "Slack" C-n down
appremap "Slack" M-b M-left
appremap "Slack" M-f M-right
appremap "Slack" M-d M-S-forwarddelete

# Chrome: word movement + scroll
appremap "Google Chrome" M-b M-left
appremap "Google Chrome" M-f M-right
appremap "Google Chrome" M-d M-S-forwarddelete
appremap "Google Chrome" Cmd-d down

# Preview
appremap "Preview" C-p up
appremap "Preview" C-n down

# Modifiers: C- (ctrl), M- (alt/option), S- (shift), Cmd- (command). Combinable: M-S-forwarddelete.